<app-header></app-header>

<div *ngIf="product.length != 0">
  <section class="h-100 border-bottom">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="fw-normal mb-0  text-black">Shopping Cart</h2>
            <div>
              <p class="mb-0">
                <span class="text-muted h3" >Grand Total ({{product.length}}): {{ grandtotal| currency:'INR' }} </span>
              </p>
              <button (click)="emptycart()" class="btn px-2 my-3 btn-danger">Delete All <fa-icon [icon]="Ideleteall"></fa-icon></button>
              <button [routerLink]="['/products']" class="btn px-2 my-2 mx-3 text-white btn-dark">Shop More <fa-icon [icon]="Imore"></fa-icon></button>
            </div>
          </div>
          <div *ngFor="let item of product; let i = index">
            <div class="border-bottom  rounded-3 mb-2">
              <div class="p-2">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >


                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img #view
                      src="{{ item.image.img1 }}"
                      class="img-fluid rounded-3"
                      alt="Cotton T-shirt"
                      (mouseenter)="imagehover()"
                    />
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p appTooltip=" {{item.title}}" class="lead fw-normal mb-2">{{ item.title }}</p>
                    <small class="text-muted"
                      >{{ item.category }} - {{ item.gender }}</small
                    >
                    <br />
                    <small
                      >Price:<s>{{ item.price | currency : "INR" }}</s></small
                    >
                    <small class="text-danger mx-1"
                      >({{
                        (item.price - item?.discountedprice) / item?.price
                          | percent
                      }}off)</small
                    >
                    <p><span *ngIf="item?.size" class="text-muted">Size: </span>{{ item.size }}</p>
                    
                   
                    
                  </div>

                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" >
                    <h4 class="mb-0">
                      {{ item.discountedprice | currency : "INR" }}
                    </h4>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <button (click)="removeitem(item)" class="btn btn-danger">
                      <fa-icon [icon]="Idelete"></fa-icon>
                    </button>
                  </div>
                  

                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      
    </div>
    
  </section>
</div>

<div *ngIf="product.length == 0">
  <div class="row py-3">
    <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
      <img src="../../../assets/images/bag.svg" alt="" class="img-fluid mb-4" />
      <h2>Your shopping cart is empty</h2>
      <p class="mb-4">
        Return to the store to add items for your delivery slot. Before
        proceeding to checkout. You will find a lot of interesting products on
        our shop page.
      </p>
      <a [routerLink]="['/products']" class="btn btn-dark">Explore Products</a>
    </div>
  </div>
</div>


<app-footer></app-footer>
