<footer class="d-flex  justify-content-center bg-light border-top">
    
        <div class="row  w-100 justify-content-evenly pt-2">
            
            <div class=" col-5 col-sm-2 mb-3">
                <h5>LINKS</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Login</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Register</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Products</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Checkout</a></li>
                </ul>
            </div>

            <div class="col-5 col-sm-2 mb-3">
                <h5>Policy</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms & Conditions</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Return policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                </ul>
            </div>
            <div class="col-5 col-sm-2 mb-3">
                <h5>Contact us </h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About </a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Instagram</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Twitter</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Support</a></li>
                </ul>
            </div>
            <p class=" nav justify-content-center text-white bg-dark text-muted pb-3 ">
                © 2022 SuperShop, Inc
            </p>
        </div>
        

    

</footer>


