<app-header></app-header>

<section class="py-2">
  <button [routerLink]="['/products']" class="btn btn-dark mx-3 my-2">
    <fa-icon [icon]="Iback"></fa-icon>
  </button>
  <div class="container px-2 px-lg-5 my-3">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-4">
        <owl-carousel-o [options]="customOptions">
          <ng-template  carouselSlide>
            <img  appZoomimg src="{{ products?.image.img1 }}" alt="..." />
          </ng-template>
          <ng-template carouselSlide>
            <img  appZoomimg  src="{{ products?.image.img2 }}" alt="..." />
          </ng-template>
          <ng-template carouselSlide>
            <img appZoomimg  src="{{ products?.image.img3 }}" alt="..." />
          </ng-template>
        </owl-carousel-o>

        <!-- <img class="card-img-top mb-5 mb-md-0" src="{{products.image.img1}}" alt="..."> -->
      </div>
      <div class="col-md-8">
        <!-- <div class="small mb-1">{{ products.category }}-{{ products.id }}</div> -->
        <h1 class="display-5 fw-bolder">{{ products?.title }}</h1>
        <div class="fs-5 mb-2">
          <small
            ><s class="">{{ products?.price | currency : "INR" }}</s
            ><br
          /></small>
          <span
            >Price:<span class="text-danger">
              {{ products?.discountedprice | currency : "INR" }}</span
            ></span
          >
          <small class="text-dark mx-1"
            >({{
              (products?.price - products?.discountedprice) / products?.price
                | percent
            }}off)</small
          >
        </div>
        <div>
          Ratings: ({{ products?.ratings }})<ngx-stars
            [readonly]="true"
            [color]="'#FDDA0D'"
            [maxStars]="5"
            [initialStars]="products.ratings"
          ></ngx-stars>
        </div>
        <div *ngIf="products?.size">Size: {{ products?.size }}</div>
        <p class="lead">{{ products?.description }}</p>
        <div class="d-flex">
          
          <button (click)="addtocart(products)" class="btn btn-outline-dark flex-shrink-0" type="button">
            
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<app-reviews [review] = "products?.review " (userreview)="addcom($event)" ></app-reviews>
<div class="container px-4 px-lg-5 mt-0">
<div class="px-2 py-2 my-4 card shadow ">
<h5><fa-icon class="px-2" [icon]="Iuser"></fa-icon>Anonymous</h5>
<div  class="mx-2">
  <!-- <ngx-stars
    [readonly]="true"
    [color]="'#FDDA0D'"
    [maxStars]="5"
    [initialStars]="rev.rstar"
   
  ></ngx-stars> -->
</div>
<p class="lead mx-4"> {{fakecomment}}</p>
</div>
</div>
<!-- <section class="py-1">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Reviews</h2>
    <div
      *ngFor="let rev of products?.review; let i = index"
      class="px-2 py-2 my-4 card shadow"
    >
      <h5><fa-icon class="px-2" [icon]="Iuser"></fa-icon>Anonymous</h5>
      <div class="mx-4">
        <ngx-stars
          [readonly]="true"
          [color]="'#FDDA0D'"
          [maxStars]="5"
          [initialStars]="rev.rstar"
        ></ngx-stars>
      </div>
      <p class="lead mx-4">{{ rev.review }}</p>
    </div>
  </div>
</section> -->

 <section class="py-1 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4"   routerLink="/productdetail/{{id}}/relatedproducts/{{products.category}}"  >Show Related products <fa-icon [icon]="Idown"></fa-icon></h2>

    <!-- <div class="container px-3 px-lg-4 mt-2">
      <div
        class="row gx-4 gx-lg-3 row-cols-3 row-cols-md-4 row-cols-xl-4 justify-content-center"
      >
        div
          *ngFor="
            let prod of allproducts
              | filterpipe : products.category : 'category'" class="col col-xl-3 h-50 d-flex text-center flex-column align-center">
          
            <div
              class="card shadow w-100 rounded h-100 mb-2"
              [routerLink]="['/productdetail', prod.id]"
            >
              
              <div>
                <img
                  class="card-img-top"
                  [src]="prod.image.img1"
                  style="height: 200px; width: auto"
                />

              </div>
              <div class="card-body p-3">
                <div class="text-center">
                 
                  <p id="title" class="fw-bolder">{{ prod.title }}</p>
                  <div>
                    <s
                      ><small class="text-muted px-1">{{
                        prod.price | currency : "INR"
                      }}</small></s
                    >
                    <span id="price">{{
                      prod.discountedprice | currency : "INR"
                    }}</span>
                  </div>
                  <small class="text-danger"
                    >({{
                      (prod.price - prod.discountedprice) / prod.price | percent
                    }}
                    off)</small
                  >
                  <div class="d-flex my-0 py-0 justify-content-center">
                    <ngx-stars
                      [readonly]="true"
                      [color]="'#FDDA0D'"
                      [maxStars]="5"
                      [initialStars]="prod.ratings"
                    ></ngx-stars>
                  </div>
                </div>
                <div>
                  <p
                    id="desc"
                    ngxTruncateText
                    number="30"
                    more="Read more"
                    less="Less"
                  >
                    {{ prod.description }}
                  </p>
                </div>
              </div>
              
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-dark mt-auto" [routerLink]="['/productdetail', prod.id]">Buy now</a>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>-->
  </div>
</section> 

<router-outlet></router-outlet>
<app-footer></app-footer>
